<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css%22%3E">
    <link href="https://fonts.googleapis.com/css?family=Oswald%7CRoboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid intro" id="coding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" align="Left">
                    <h3><b><i>Coding</i></b></h3>
                    <p>
                        Hva jeg språk, jeg programmerer med Python, R og GameMaker Language, og i dag jeg har gjør projekter, en er klar, og andre er ikke.
                    </p>
                    <p>Projekter er:</p>
                    <ul>
                        <li>R4Noobs</li>
                        <p>[English]Is a comunit project for the He4rt Developers comunit, this project is an introduction of the R language for "noobs"</p>
                        <li>The Huskvetures of a Husky</li>
                        <p>[English] It's a game about a husk who need defeat some cat, it's a little caotic game, i think.</p>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4>Github link projects</h4>
                    <p>Git link: <a href="https://github.com/SaLandini/r4noobs">R4Noobs</a></p>
                    <p>Git link: <a href="https://github.com/SaLandini/The-Huskventures-desen">The Huskvetures of a Husky</a></p>
            </div>
        </div>
    </div>
    <button><a href="http://127.0.0.1:5000/Editing">Next</a></button>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
</body>
</html>